**/.git/
**/.github/
**/.gradle/
**/.idea/
**/bin/
**/build/
**/node_modules/
**/.dockerignore
**/.env
**/.env.example
**/.gitattributes
**/.gitmodules
**/.gitignore
**/Dockerfile
**/docker-compose.yml
**/docker-compose.example.yml
**/gradlew
**/gradlew.bat
**/README.md
**/.DS_Store
